<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommendation System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS for white text in header -->
    <style>
        .navbar {
            background-color: #0000FF;
        }
        .navbar-brand, .nav > li > a {
            color: white !important;
        }
        .navbar-brand:hover, .nav > li > a:hover {
            color: #ccc !important; /* Optional hover effect */
        }
    </style>
</head>
<body style="background-color:white">

    <nav class="navbar">
        <p class="navbar-brand">My Book Recommender</p>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Recommend Books</h1>
                <form action="/recommend_books" method="post">
                    <input name="user_input" type="text" class="form-control"><br>
                    <input type="submit" class="btn btn-lg btn-warning">
                </form>
            </div>

            {% if data %}
              {% for i in data %}
                <div class="col-md-3" style="margin-top:30px">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="{{i[2]}}">
                            <h3>{{i[0]}}</h3>
                            <p>{{i[1]}}</p>
                        </div>
                    </div>
                </div>
              {% endfor %}
            {% endif %}

        </div>
    </div>

</body>
</html>
